.Card {
    width: 100px;
    height: 150px;
    position: relative;
    border: none;
    padding: 0;
    background: transparent;
    min-width: 100px;
    margin: 10px;
}

.Card[data-color="red"] {
    background: red;
    background-size: 100% 100%;
}

/* -- RED CARDS -- */
.Card.almighty {background-image: url('../assets/map_cards/Red/almighty.webp');}
.Card.blackroom {background-image: url('../assets/map_cards/Red/blackroom.webp');}
.Card.bottomless {background-image: url('../assets/map_cards/Red/bottomless.webp');}
.Card.feeble {background-image: url('../assets/map_cards/Red/feeble.webp');}
.Card.looming {background-image: url('../assets/map_cards/Red/looming.webp');}
.Card.premium {background-image: url('../assets/map_cards/Red/premium.webp');}
.Card.roulette {background-image: url('../assets/map_cards/Red/roulette.webp');}
.Card.sleeping {background-image: url('../assets/map_cards/Red/sleeping.webp');}
.Card.teeming {background-image: url('../assets/map_cards/Red/teeming.webp');}
.Card.tranquil {background-image: url('../assets/map_cards/Red/tranquil.webp');}
.Card.whiteroom {background-image: url('../assets/map_cards/Red/whiteroom.webp');}

.Card > div {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card > span {
    color: rgb(255, 255, 255);
}