.Card {
    width: 100px;
    height: 150px;
    position: relative;
    border: none;
    padding: 0;
    background: transparent;
}

.Card[data-color="red"] {
    background: red;
}

.Card.teeming {
    background-image: url('../assets/map_cards/teeming.webp');
    background-size: 100% 100%;
}

.Card > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card > span {
    color: white;
}